<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
    <p>
    Splurty was built by <a target="_blank" href="http://github.com/917391">me</a> 
  </p>
  <br />
  <p>
  why you ask, because I can. Because I want to. SO that's what i'm doing.
    </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  
</div>

 <div class="row">
    

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Quintonc</h2>
      <br />
      <p>
        Quinton is a web developer and a cooler version of Will Smith. He's just so damn cool you know.
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    
  </div>
  
  <br class="clear" />
<br />
<br />
<br />
<br />