<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
    <p>
    Splurty was built by <a target="_blank" href="http://github.com/917391">me</a> 
  </p>
  <br />
  <p>
  Quinton Chinouya is a student attending the University of Texas Web Development bootcamp. He is learning how to become a <strong>MASTER HACKER</strong>
    </p>
  <p>
    If you too want to become a <strong>MASTER HACKER</strong>, start by clicking <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  

 <div class="row">
        <div class="col-12 col-sm-4">
          <%= image_tag 'Quintonsmylie.jpg', class: 'img-fluid' %>
        </div>
    <div class="row">
    

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Quinton Chinouya</h2>
      <br />
      <p>
        For as long as he can remember, he has always wanted to become a <strong> MASTER HACKER</strong>. As a matter of fact, the very first words he mouthed as a baby were Hello World. It was then that his destiny was written, his destiny to become a <strong>MASTER HACKER</strong>, and what better way to start this proces than by creating a web page with tips on how to become a master hacker among other things.
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    
  </div>
  </div>
    
  
  <br class="clear" />
<br />
<br />
<br />
<br />